<h1><%= t("app") %></h1>

<p><%= t("user_mailer.password_reset.intro") %></p>

<%= link_to t("user_mailer.password_reset.link"), edit_password_reset_url(id: @user.reset_token, email: @user.email) %>

<p>
    <%= t("user_mailer.password_reset.expiration_notice") %>
    <%= t("user_mailer.password_reset.ignore_notice") %>
</p>
